<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>

        <section class="layout-content" layout:fragment="corpo">

            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <i class="oi oi-caret-right"></i>
                            <span>Cadastrar filial</span>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container" id="cadastro">
                <form th:action="${filial.id == null} ? @{/filiais/salvar} : @{/filiais/editar}"  
                th:object="${filial}" method="POST">
                    <div th:replace="fragments/alert"/>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Nome da filial</label>																	   
                            <input type="text" class="form-control" id="nome" placeholder="Informe o nome da filial" autofocus="autofocus" th:field="*{nome}" />
                        </div>
                    </div>
                    <input type="hidden" id="id" name="id" value="" />
                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </form>
            </div>
            <script type="text/javascript">
		        let cadastrarFilial = document.getElementById('cadastrar-filial')
		        cadastrarFilial.style.display = 'none'
	        </script>
        </section>

</body>

</html>